:root {
  --Background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  --ScoreText: hsl(229, 64%, 46%);
  --DarkText: hsl(229, 25%, 31%);
  --HeaderOutline: hsl(217, 16%, 45%);
  --font: "Barlow Semi Condensed";
  --ScissorsGradient: linear-gradient(
    to bottom,
    hsl(39, 89%, 49%),
    hsl(40, 84%, 53%)
  );
  --PaperGradient: linear-gradient(
    to bottom,
    hsl(230, 89%, 62%),
    hsl(230, 89%, 65%)
  );
  --RockGradient: linear-gradient(
    to bottom,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
  --LizardGradient: linear-gradient(
    to bottom,
    hsl(261, 73%, 60%),
    hsl(261, 72%, 63%)
  );
  --Cyan: linear-gradient(to bottom, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
}
* {
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}
body {
  background: var(--Background);
  color: var(--HeaderOutline);
  font-family: var(--font);
  margin: 0;
  padding: 0;
}

header {
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border: 2px solid var(--HeaderOutline);
  border-radius: 15px;
}

.score_board {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px 15px;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  margin: -10px 0 0 0;
  color: var(--DarkText);
  padding: 0;
}
.score_board p {
  margin: 0;
  font-size: 18px;
  color: var(--ScoreText);
  text-transform: uppercase;
  font-weight: 700;
}

.scissors::after,
.spock::after,
.paper::after,
.lizard::after,
.rock::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  z-index: -1;
}
.scissors::before,
.spock::before,
.paper::before,
.lizard::before,
.rock::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14%;
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.scissors_img,
.spock_img,
.paper_img,
.lizard_img,
.rock_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 100;
  transform: translateY(3px);
}

/* scissors */
.scissors {
  background: var(--ScissorsGradient);
  position: relative;
}

.scissors::after {
  background-color: hsl(24, 99%, 48%);
}
.scissors_img {
  background: #ffffff url(../images/icon-scissors.svg) no-repeat center;
}

/* spock */

.spock {
  background: var(--Cyan);
  position: relative;
}
.spock::after {
  background-color: hsl(189, 96%, 32%);
}

.spock_img {
  background: #ffffff url(../images/icon-spock.svg) no-repeat center;
}
/* paper */

.paper {
  background: var(--PaperGradient);
  position: relative;
}
.paper::after {
  background-color: hsl(230, 91%, 32%);
}
.paper_img {
  background: #ffffff url(../images/icon-paper.svg) no-repeat center;
}

/* lizard */

.lizard {
  background: var(--LizardGradient);
  position: relative;
}

.lizard::after {
  background-color: hsl(261, 92%, 39%);
}

.lizard_img {
  background: #ffffff url(../images/icon-lizard.svg) no-repeat center;
}

/* rock */

.rock {
  background: var(--RockGradient);
  position: relative;
}

.rock::after {
  background-color: hsl(349, 86%, 36%);
}

.rock_img {
  background: #ffffff url(../images/icon-rock.svg) no-repeat center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem 0 40px 0;
}

.time {
  margin: 3rem 0 0 0;
}
.time h3 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}
button {
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  display: block;
  cursor: pointer;
}

/* modal */

.modal {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  text-align: center;
}
.show-modal .modal {
  display: block;
  animation-name: popIn;
  animation-duration: 0.25s;
  animation-timing-function: linear;
}

.show-modal .modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.show-modal .modal .modal-content img {
  margin: auto;
}
.show-modal .modal .modal-content h2 {
  color: var(--DarkText);
  margin: 0 0 30px 0;
}

.show-modal .modal .modal-content button {
  background: transparent url(../images/icon-close.svg) no-repeat center;
  padding: 15px;
  display: block;
  margin-top: 20px;
}
.show-modal .modal button:focus {
  outline: 2px dotted var(--DarkText);
}

@media screen and (min-width: 768px) {
  header {
    width: 50%;
  }
  main {
    width: 40%;
  }

  .mid {
    width: 80%;
    grid-area: m;
    position: relative;
    margin: auto;
    top: -30px;
    left: -2px;
  }

  .bottom {
    width: 55%;
  }
  .btn {
    justify-content: flex-end;
    width: 20%;
    margin: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .time {
    transform: translateY(-20px);
    margin: 0 0 0 0;
  }

  .time h3 {
    margin: 0 0 0 0;
  }
  .show-modal .modal .modal-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "r c"
      "p p";
    background-color: #fff;
    width: 40%;
    margin: 40px auto;
    border-radius: 18px;
  }

  .show-modal .modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
  .show-modal .modal .modal-content h2 {
    grid-area: r;
    margin-bottom: 0;
  }

  .show-modal .modal .modal-content button {
    grid-area: c;
    margin-bottom: 50px;
  }

  .show-modal .modal .modal-content img {
    grid-area: p;
    margin: auto;
  }
}

/* animation */

@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
